<mat-grid-list cols="2" rowHeight="300px">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Toolbars
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="dashboard-card-content">
        <mat-toolbar>
          <mat-toolbar-row>
            <span>Basic Toolbar</span>
            <span class="example-spacer"></span>
            <mat-icon
              class="example-icon"
              aria-hidden="false"
              aria-label="Example heart icon"
            >
              apps
            </mat-icon>
            <mat-icon
              class="example-icon"
              aria-hidden="false"
              aria-label="Example delete icon"
            >
              menu
            </mat-icon>
          </mat-toolbar-row>
        </mat-toolbar>

        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>Primary Toolbar</span>
            <span class="example-spacer"></span>
            <mat-icon
              class="example-icon"
              aria-hidden="false"
              aria-label="Example heart icon"
            >
              apps
            </mat-icon>
            <mat-icon
              class="example-icon"
              aria-hidden="false"
              aria-label="Example delete icon"
            >
              menu
            </mat-icon>
          </mat-toolbar-row>
        </mat-toolbar>

        <mat-toolbar color="accent">
          <mat-toolbar-row>
            <span>Accent Toolbar</span>
            <span class="example-spacer"></span>
            <mat-icon
              class="example-icon"
              aria-hidden="false"
              aria-label="Example heart icon"
            >
              apps
            </mat-icon>
            <mat-icon
              class="example-icon"
              aria-hidden="false"
              aria-label="Example delete icon"
            >
              menu
            </mat-icon>
          </mat-toolbar-row>
        </mat-toolbar>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
